*{
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

body,html{
    min-height: 100vh;
    min-width: 100vw;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.header{
    flex: 1;
    padding: 10px 15px 10px 15px;
    max-height: min-content;
    display: flex;
    gap:10px;
}

.play-area{
    flex:1;
    padding: 10px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(10,40px);
    grid-template-rows: repeat(10,40px);
}



.complete{
    border: medium solid var(--border-color);
}



.init-vert{
    border-top: medium solid var(--border-color);
    border-left: medium solid var(--border-color);
    border-right: medium solid var(--border-color);
}

.init-horiz{
    border-top:medium solid var(--border-color);
    border-left:medium solid var(--border-color);
    border-bottom:medium solid var(--border-color);
}

.middle-vert{
    border-left:medium solid var(--border-color);
    border-right: medium solid var(--border-color);
}

.middle-horiz{
    border-top:medium solid var(--border-color);
    border-bottom: medium solid var(--border-color);
}

.final-vert{
    border-bottom: medium solid var(--border-color);
    border-left:medium solid var(--border-color);
    border-right: medium solid var(--border-color);
}

.final-horiz{
    border-top:medium solid var(--border-color);
    border-right: medium solid var(--border-color);
    border-bottom: medium solid var(--border-color);
}

.cell{
    background-color: var(--background-color);
}

.open{
    --background-color: lightgrey;
    border: solid grey thin;
}

.clear{
    --background-color: skyblue;
    --border-color: darkblue;
}

.hit{
    --background-color: red;
    --border-color: darkred;
}

.missed{
    --background-color: black;
}

button.play{
    width: 100px;
    height: 50px;
}

.wait-modal{
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


