*{
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

body,html{
    min-height: 100vh;
    min-width: 100vw;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/water-texture.png');
}

@font-face {
    font-family: 'Stencil-Cargo-Army';
    src: url('../assets/Stencil-Cargo-Army.ttf');
}

p{
    user-select: none;
}

p.game-title{
    font-family: 'Stencil-Cargo-Army';
    font-size: 6vw;
    position: absolute;
    top: 0px;
    
}


body.playing{
    flex-direction: row;

}
.header{
    flex: 1;
    padding: 10px 15px 10px 15px;
    max-height: min-content;
    display: flex;
    gap:10px;
}

.play-area{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(10,40px);
    grid-template-rows: repeat(10,40px);
}

.grid.playing{
    pointer-events: none;
}


.complete{
    border: medium solid var(--border-color);
}



.init-vert{
    border-top: medium solid var(--border-color);
    border-left: medium solid var(--border-color);
    border-right: medium solid var(--border-color);
}

.init-horiz{
    border-top:medium solid var(--border-color);
    border-left:medium solid var(--border-color);
    border-bottom:medium solid var(--border-color);
}

.middle-vert{
    border-left:medium solid var(--border-color);
    border-right: medium solid var(--border-color);
}

.middle-horiz{
    border-top:medium solid var(--border-color);
    border-bottom: medium solid var(--border-color);
}

.final-vert{
    border-bottom: medium solid var(--border-color);
    border-left:medium solid var(--border-color);
    border-right: medium solid var(--border-color);
}

.final-horiz{
    border-top:medium solid var(--border-color);
    border-right: medium solid var(--border-color);
    border-bottom: medium solid var(--border-color);
}

.cell{
    background-color: var(--background-color);
}

.open{
    border: dotted grey thin;
}

.clear{
    --background-color: rgb(172, 182, 210);
    --border-color: black;
}

.hit{
    background-image: url('../assets/explosion.png');
    padding: 3px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    background-size: cover;
    --background-color: DodgerBlue;
    --border-color: darkred;

}

.missed{
    background-image: url('../assets/missile.png');
    padding: 3px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    background-size: cover;
    --background-color: DodgerBlue;
    
    
}

button.play{
    width: 100px;
    height: 50px;
}

.wait-modal, .game-over-modal{
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}



