*{
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

body,html{
    min-height: 100vh;
    min-width: 100vw;
}

body{
    display: flex;
    justify-content: center;
    font-family: 'Stencil-Cargo-Army';
    align-items: center;
    background-image: url('../assets/water-texture.png');
}

@font-face {
    font-family: 'Stencil-Cargo-Army';
    src: url('../assets/Stencil-Cargo-Army.ttf');
}

p{
    user-select: none;
    
}

div p{
    color: black;
    font-weight: bolder;
    text-shadow: -3px 3px white;
}

p.game-title{
    font-size: 4rem;
    position: absolute;
    top: 0px;
    color: red;
    text-shadow: -5px 5px orange,-7px 7px blue ; 
    display: none; 
}

header{
    position: relative;
}


#players-sec{
    font-size: 1rem;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    height: 100px;
}
form{
    display: flex;
    flex-direction: column;
}


.play-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(10,40px);
    grid-template-rows: repeat(10,40px);
}

.grid.playing{
    pointer-events: none;
}

.grid.active .open{
    background-color: rgba(57, 51, 51, 0.559);
    
}

.play-area.not-current .grid {
    border: medium solid blue;
}

.play-area.not-current .grid .cell:hover{
    background-color: rgba(0, 0, 0, 0.53);
}



.complete{
    border: medium solid var(--border-color);
}



.init-vert{
    border-top: medium solid var(--border-color);
    border-left: medium solid var(--border-color);
    border-right: medium solid var(--border-color);
}

.init-horiz{
    border-top:medium solid var(--border-color);
    border-left:medium solid var(--border-color);
    border-bottom:medium solid var(--border-color);
}

.middle-vert{
    border-left:medium solid var(--border-color);
    border-right: medium solid var(--border-color);
}

.middle-horiz{
    border-top:medium solid var(--border-color);
    border-bottom: medium solid var(--border-color);
}

.final-vert{
    border-bottom: medium solid var(--border-color);
    border-left:medium solid var(--border-color);
    border-right: medium solid var(--border-color);
}

.final-horiz{
    border-top:medium solid var(--border-color);
    border-right: medium solid var(--border-color);
    border-bottom: medium solid var(--border-color);
}

.cell{
    background-color: var(--background-color);
}

.open{
    border: solid black thin;
}

.clear{
    --background-color: rgb(172, 182, 210);
    --border-color: black;
}

.hit{
    background-image: url('../assets/explosion.png');
    padding: 3px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    background-size: cover;
    --border-color: darkred;

}

.missed{
    background-image: url('../assets/missile.png');
    padding: 3px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    background-size: cover;
}

@keyframes myGradient{
    0%{
        background-image:linear-gradient(to right,navy,navy,white,white,white, white, white);
    }
    
    20%{
        background-image:linear-gradient(to right,white, white,navy,navy,white,white, white);
    }
   
    40%{
        background-image: linear-gradient(to right,white,white,white,navy,navy,white, white);
    }
    
    60%{
        background-image:linear-gradient(to right,white,white, white,white,navy,navy, white);
    }

    80%{
        background-image:linear-gradient(to right,white,white,white,white,white, navy, navy);
    }

    80%{
        background-image:linear-gradient(to right,white,white,white,white,white, white, navy);
    }

}
button.play{
    margin-top: 25px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: lightcyan;
    color: white;
    font-weight: bolder;
    font-family: 'Stencil-Cargo-Army';
    position: absolute;
    left: 50%;
    translate: -50% 0;
}

button.play img{
    width: 100%;
    height: 100%;
}

button.play:hover{
    animation:myGradient;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-fill-mode: both;
}

.play-area button.play{
    position: inherit;
}



.wait-modal, .game-over-modal{
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}



